@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	overflow-x: hidden;
	background-image: "../public/images/homePage.jpg";
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(5px);
	font-family: "Lato", sans-serif;
}
